
body {
    background-color: #ffffff;
    font-size: 16px;
}

.title {
    font-weight: bold;
    color: black;
    font-size: 60px;
    padding: 20px 20px; 
}

.content{
    color: black;
}

.strophe {
    padding: 20px 20px;

}

.autor {
    font-family: "Muli" ;
    font-weight: bold;
}